<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Desenrollando el cordel</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <!-- CSS & Scripts -->
        <meta name="description" content="Pliegos' illustrations"/>
        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/cordel_theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    
    <body class="page-illustration">
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <pb-document id="document1" data-template="pages:pb-document"/>
            
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer_item.html"/>
                
                <app-header-layout>
                    <app-header slot="header" fixed="fixed">
                        <!-- Affichage du menu de navigation -->
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu_item.html"/>
                        
                        <!-- Affichage du nom de l'illustration et de la date -->
                        <app-toolbar class="page-illustration__toolbar" sticky="sticky">
                            <section class="page-illustration__breadcrumbs">
                                <pb-view id="page-illustration__breadcrumbs-title" src="document1" xpath="//teiHeader/fileDesc" view="single">
                                    <pb-param name="mode" value="title"/>
                                </pb-view>
                            </section>
                        </app-toolbar>
                    </app-header>
                    
                    <main class="page-illustration__content-body">
                        <!-- Affichage des métadonnées -->
                        <pb-view id="page-illustration__view1" src="document1" xpath="//teiHeader" view="single">
                            <pb-param name="mode" value="illustration"/>
                        </pb-view>
                        
                        <div data-template="api:display-illustration"/>

                    </main>
                    
                    <footer>
                        <p class="footer__links">
                            <a href="../aviso_legal.html" class="footer__link">
                                <pb-i18n key="aviso.titre">Aviso legal</pb-i18n>
                            </a>
                            <a href="../mapa_sitio.html" class="footer__link">
                                <pb-i18n key="mapa.titre">Mapa del sitio</pb-i18n>
                            </a>
                            <a href="../contacto.html" class="footer__link">
                                <pb-i18n key="contacto.titre">Contacto</pb-i18n>
                            </a>
                        </p>
                        
                        <p class="footer__logos">
                            <a href="https://e-editiones.org/" target="_blank">
                                <img src="resources/images/logos/powered-by-editiones-color.svg" alt="Logo de E-Editiones" height="40px"/>
                            </a>
                            <a href="https://www.sandozfondation.ch/fr" target="_blank">
                                <img src="../resources/images/logos/fondation_sandoz.png" alt="Logo de la fondation Famille Sandoz-Monique de Meuron" height="40px"/>
                            </a>
                            <a href="https://www.unige.ch/lettres/fr/" target="_blank">
                                <img src="../resources/images/logos/lettres_noir70.jpg" alt="Logo de la faculté des Lettres de Genève" height="50px"/>
                            </a>
                            <a href="https://www.ephemerahelvetica.ch/accueil" target="_blank">
                                <img src="../resources/images/logos/ephemerahe.logo.BW.jpg" alt="Logo de l'association suisse Ephemera Helvetica" height="40px"/>
                            </a>
                            <a href="https://github.com/DesenrollandoElCordel" target="_blank">
                                <img src="../resources/images/logos/GitHub-Mark-64px.png" alt="Logo de GitHub" height="40px"/>
                            </a>
                            <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
                                <img src="../resources/images/logos/CreativeCommons.png" alt="Logo de la licence CC-BY-NC-SA" height="30px"/>
                            </a>
                        </p>
                    </footer>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>