<?xml version="1.0" encoding="UTF-8"?>
<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <!-- language selector -->
            <pb-lang name="lang" data-template="pages:languages"/>
            
            <h3 class="without-slot">
                <a href="../inicio.html">
                    <pb-i18n key="inicio.titre"/>
                </a>
            </h3>
            
            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <pb-i18n key="mapa.proyecto"/>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="../presentacion_proyecto.html">
                            <pb-i18n key="proyecto.titre"/>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="../criterios_edicion_es.html">
                            <pb-i18n key="criterios.titre"/>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="../publicaciones.html">
                            <pb-i18n key="publicacion.titre"/>
                        </a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>
            
            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <pb-i18n key="collection.collection"/>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="../descripcion_colecciones.html">
                            <pb-i18n key="collection.description"/>
                        </a>
                    </paper-item>
                    <!--<paper-item>
                        <a href="../index.html">
                            <pb-i18n key="collection.completa"/>
                        </a>
                    </paper-item>-->
                    <paper-item>
                        <a href="../index.html?collection=Moreno">
                            <pb-i18n key="collection.moreno"/>
                        </a>
                    </paper-item>
                    <!--<paper-item>
                        <a href="../index.html?collection=Varios">
                            <pb-i18n key="collection.varios"/>
                        </a>
                    </paper-item>-->
                    <paper-item>
                        <a href="../index.html?collection=Illustraciones">
                            <pb-i18n key="collection.illustration"/>
                        </a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>
            
            <h3 class="without-slot">
                <a href="../agenda.html"/>
            </h3>
            
            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <pb-i18n key="mapa.acerca"/>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="../equipo.html">
                            <pb-i18n key="equipo.titre"/>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="../proceso_tecnico_es.html">
                            <pb-i18n key="tecnico.titre"/>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="../aviso_legal.html">
                            <pb-i18n key="aviso.titre"/>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="../contacto.html">
                            <pb-i18n key="contacto.titre"/>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="../ayuda.html">
                            <pb-i18n key="ayuda.titre"/>
                        </a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>
            
            <h3 class="without-slot">
                <a href="../enlaces.html">
                    <pb-i18n key="enlaces.titre"/>
                </a>
            </h3>
            
            
            
            <!--<pb-collapse>
                <h3 slot="collapse-trigger"><pb-i18n key="menu.documentation">Documentation</pb-i18n></h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="${app}/doc/documentation.xml?odd=docbook.odd" data-template="pages:parse-params">
                            <pb-i18n key="menu.documentation">Documentation</pb-i18n>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="https://faq.teipublisher.com/">FAQ</a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/doc/blog/" data-template="pages:parse-params"><pb-i18n key="menu.news">News</pb-i18n></a>
                    </paper-item>
                    <paper-item>
                        <a href="https://unpkg.com/@teipublisher/pb-components@latest/dist/api.html" target="_blank">Webcomponents API</a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>-->
            
            <!--<pb-collapse>
                <h3 slot="collapse-trigger"><pb-i18n key="menu.download.title">Download</pb-i18n></h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                            <pb-i18n key="menu.download.pdf-latex"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.latex-source" title="i18n(pdf-latex)" source="source">
                            <pb-i18n key="menu.download.latex-source"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="pdf-fo">
                            <pb-i18n key="menu.download.pdf-fo"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="i18n(pdf-fo)" source="source">
                            <pb-i18n key="menu.download.fo-source"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="epub" src="document1" data-i18n="[title]menu.download.epub" dialog="downloadDialog">
                            ePUB
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                            XML
                        </pb-edit-xml>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>-->
            
            <pb-restricted login="login">
                <pb-collapse>
                    <h3 slot="collapse-trigger">
                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                    </h3>
                    <paper-listbox slot="collapse-content">
                        <paper-item>
                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/manage.html" data-template="pages:parse-params">
                                <pb-i18n key="menu.admin.appGenerator"/>
                            </a>
                        </paper-item>
                    </paper-listbox>
                </pb-collapse>
            </pb-restricted>
        </pb-media-query>
        
        <!--<div class="settings">
            <h3>Settings</h3>
            <pb-toggle-feature emit="transcription" subscribe="transcription" name="view" on="page" off="div" init-from-view="init-from-view"><pb-i18n key="document.view-type">Page View</pb-i18n></pb-toggle-feature>
            <pb-edit-xml src="document1">
                <paper-button alt="Edit source"><iron-icon icon="icons:code"/> <pb-i18n key="menu.download.view-tei"/></paper-button>
            </pb-edit-xml>
        </div>-->
    </div>
</app-drawer>