<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Desenrollando el cordel</title>
        <meta name="description" content="La biblioteca digital Desenrollando el cordel está dedicada a la colección de pliegos de cordel españoles del siglo XIX de la Biblioteca Universitaria de Ginebra."/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <!-- CSS & Scripts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
        <link rel="stylesheet" href="resources/css/cordel_theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="text/javascript" src="resources/js/top_page_button.js"/>
    </head>
    
    <body>
        <button value="click" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    
                    <main class="content-static__main-inicio">
                        <h1 class="content-static__main-title">
                            <pb-i18n key="inicio.titre-projet"/>
                        </h1>
                        
                        <p>
                            <pb-i18n key="inicio.para1"/>
                        </p>
                        <p>
                            <pb-i18n key="inicio.para2"/>
                        </p>
                        <p>
                            <pb-i18n key="inicio.para3"/>
                        </p>
                        
                        <h2 class="content-static__subtitle">
                            <pb-i18n key="collection.collection"/>
                        </h2>
                        <div class="content-static__img-gallery">
                            <div class="content-static__img-gallery-container">
                                <a href="index.html">
                                    <img src="resources/images/img_varios.png" alt="Première page du pliego El Anillo de Zafira"/>
                                    <div class="content-static__img-gallery-text">
                                        <h3>
                                            <pb-i18n key="collection.completa"/>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="content-static__img-gallery-container">
                                <a href="index.html?collection=Pliegos&amp;facet-collection=Colleción+Moreno">
                                    <img src="resources/images/img_moreno.png" alt="Première page du pliego Doña Josefa Ramirez"/>
                                    <div class="content-static__img-gallery-text">
                                        <h3>
                                            <pb-i18n key="collection.moreno"/>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="content-static__img-gallery-container">
                                <a href="index.html?collection=Illustraciones">
                                    <img src="resources/images/img_ilustraciones.jpg" alt="Gravue d'un buste et de divers objets artistiques"/>
                                    <div class="content-static__img-gallery-text">
                                        <h3>
                                            <pb-i18n key="collection.illustration"/>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="clearfix"/>
                        </div>
                        
                        <h2 class="content-static__subtitle">
                            <pb-i18n key="inicio.sous-titre"/>
                        </h2>
                        <div class="content-static__img-gallery">
                            <div class="content-static__img-gallery-container">
                                <a href="presentacion_proyecto.html">
                                    <img src="resources/images/img_proyecto4.png" alt="Gravure d'une lecture publique d'un pliego"/>
                                    <div class="content-static__img-gallery-text">
                                        <h3>
                                            <pb-i18n key="inicio.presentation"/>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="content-static__img-gallery-container">
                                <a href="agenda.html">
                                    <img src="resources/images/img_agenda2.png" alt="Gravure d'un homme et de deux femmes dansant"/>
                                    <div class="content-static__img-gallery-text">
                                        <h3>
                                            <pb-i18n key="agenda.titre"/>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="content-static__img-gallery-container">
                                <a href="enlaces.html">
                                    <img src="resources/images/img_masPliegos.jpg" alt="Gravure d'un colporteur"/>
                                    <div class="content-static__img-gallery-text">
                                        <h3>
                                            <pb-i18n key="inicio.mas"/>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="clearfix"/>
                        </div>
                    </main>
                    
                    <footer>
                        <p class="footer__links">
                            <a href="aviso_legal.html" class="footer__link">
                                <pb-i18n key="aviso.titre"/>
                            </a>
                            <a href="mapa_sitio.html" class="footer__link">
                                <pb-i18n key="mapa.titre"/>
                            </a>
                            <a href="contacto.html" class="footer__link">
                                <pb-i18n key="contacto.titre"/>
                            </a>
                        </p>
                        
                        <p class="footer__logos">
                            <a href="https://e-editiones.org/" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/powered-by-editiones-color.svg" alt="Logo de E-Editiones" height="40px"/>
                            </a>
                            <a href="https://www.sandozfondation.ch/fr" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/fondation_sandoz.png" alt="Logo de la fondation Famille Sandoz-Monique de Meuron" height="40px"/>
                            </a>
                            <a href="https://www.unige.ch/lettres/fr/" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/lettres_noir70.jpg" alt="Logo de la faculté des Lettres de Genève" height="50px"/>
                            </a>
                            <a href="https://www.ephemerahelvetica.ch/accueil" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/ephemerahe.logo.BW.jpg" alt="Logo de l'association suisse Ephemera Helvetica" height="40px"/>
                            </a>
                            <a href="https://github.com/DesenrollandoElCordel" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/GitHub-Mark-64px.png" alt="Logo de GitHub" height="40px"/>
                            </a>
                            <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/CreativeCommons.png" alt="Logo de la licence CC-BY-NC-SA" height="30px"/>
                            </a>
                        </p>
                    </footer>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        
        <div class="splash"/>
    </body>
</html>