<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Desenrollando el cordel</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <!-- CSS & Scripts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
        <link rel="stylesheet" href="resources/css/cordel_theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    <main class="content-static">
                        <h1 class="content-static__main-title">Proceso tecnico</h1>
                        
                        <div class="content-static__buttons-bar">
                            <a href="#">
                                <paper-button class="content-static__button">ES</paper-button>
                            </a>
                            <a href="proceso_tecnico_fr.html">
                                <paper-button class="content-static__button">FR</paper-button>
                            </a>
                            <a href="proceso_tecnico_en.html">
                                <paper-button class="content-static__button">EN</paper-button>
                            </a>
                        </div>
                        
                        <p>Todos los datos utilizados para crear este sitio web (modelos OCR, archivos TEI, código fuente del sitio, scripts Python) están disponibles en el <a href="https://github.com/DesenrollandoElCordel">GitHub</a> del proyecto.
                           Los datos TEI están sujetos a una licencia CC-BY-NC-SA 4.0; el código fuente del sitio, a una licencia GPL v.3.</p>
                        
                        <h3>Transcripción</h3>
                        <ul>
                            <li>El corpus Moreno se transcribió automáticamente con el software <a href="https://transkribus.eu/lite/fr">Transkribus</a> (precisión del modelo: 98,21%). Los datos se exportaron en formato PAGE-XML.</li>
                            <li>El corpus Pliegos varios se transcribió automáticamente con la plataforma HTR de la Universidad de Ginebra (<a href="https://www.unige.ch/lettres/humanites-numeriques/recherche/projets-de-la-chaire/fondue">FONDUE</a>), que se basa en la infraestructura <a href="https://gitlab.inria.fr/scripta/escriptorium">eScriptorium</a> (Precisión del modelo (segmentación): próximamente | Precisión del modelo (caracteres): próximamente).
                                Para la segmentación de los documentos, hemos seguido el vocabulario <a href="https://github.com/SegmOnto">SegmOnto</a>.</li>
                        </ul>
                        
                        <h3>Codificación TEI</h3>
                        <p>El esquema TEI y la documentación utilizada para la codificación de los pliegos Moreno et <span class="content-static__italic">Varios</span>, así como para el catálogo de ilustraciones, está disponible en GitHub: <a href="https://github.com/DesenrollandoElCordel/Moreno-TEI-files/blob/main/Schema/oddPliego_varios.odd">ODD pliegos</a> | <a href="https://github.com/DesenrollandoElCordel/engravings-catalogue/blob/main/schema/pliegos_illustrations.odd">ODD illustrations</a>.</p>
                        <ul>
                            <li>Los <a href="https://github.com/DesenrollandoElCordel/Moreno-TEI-files">archivos TEI</a> del corpus Moreno se generaron a partir de los archivos PAGE-XML producidos por <span class="content-static__italic">Transkribus</span>.</li>
                            <li>[Corpus Pliegos Varios: próximamente]</li>
                            <li>Las <a href="https://github.com/DesenrollandoElCordel/engravings-catalogue/tree/main/xml-files">ilustraciones</a> se describieron detalladamente en una hoja de cálculo de Excel. Cada fila de esta tabla se transformó en XML-TEI con un script de Python. La taxonomía utilizada para la descripción de las ilustraciones se codificó en XML-TEI. La detección de imágenes similares dentro de nuestro corpus se realizó con la herramienta <a href="https://www.robots.ox.ac.uk/~vgg/software/vise/">VISE</a> (<span class="content-static__italic">Visual Geometry Group Image Search Engine</span>, Université d’Oxford).</li>
                        </ul>
                        
                        <h3>IIIF</h3>
                        <p>Las imágenes y los manifiestos IIIF están alojados en los servidores del DH Portal de la Universidad de Ginebra.</p>
                        
                        <h3>El sitio web</h3>
                        <p>Este sitio fue creado con la aplicación <a href="http://teipublisher.com/exist/apps/tei-publisher-home/index.html">TEI-Publisher</a> (versión 7.1.0, licencia GPLv3). Las características técnicas son las siguientes:</p>
                        <ul>
                            <li>Serveur Linux Debian 11</li>
                            <li>Apache HTTP Server</li>
                            <li>eXist-DB versión 6.0.1</li>
                            <li>Java Runtime Environment 11</li>
                        </ul>
                    </main>
                    
                    <footer>
                        <p class="footer__links">
                            <a href="aviso_legal.html" class="footer__link">
                                <pb-i18n key="aviso.titre"/>
                            </a>
                            <a href="mapa_sitio.html" class="footer__link">
                                <pb-i18n key="mapa.titre"/>
                            </a>
                            <a href="contacto.html" class="footer__link">
                                <pb-i18n key="contacto.titre"/>
                            </a>
                        </p>
                        
                        <p class="footer__logos">
                            <a href="https://e-editiones.org/" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/powered-by-editiones-color.svg" alt="Logo de E-Editiones" height="40px"/>
                            </a>
                            <a href="https://www.sandozfondation.ch/fr" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/fondation_sandoz.png" alt="Logo de la fondation Famille Sandoz-Monique de Meuron" height="40px"/>
                            </a>
                            <a href="https://www.unige.ch/lettres/fr/" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/lettres_noir70.jpg" alt="Logo de la faculté des Lettres de Genève" height="50px"/>
                            </a>
                            <a href="https://www.ephemerahelvetica.ch/accueil" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/ephemerahe.logo.BW.jpg" alt="Logo de l'association suisse Ephemera Helvetica" height="40px"/>
                            </a>
                            <a href="https://github.com/DesenrollandoElCordel" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/GitHub-Mark-64px.png" alt="Logo de GitHub" height="40px"/>
                            </a>
                            <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="noopener noreferrer">
                                <img src="resources/images/logos/CreativeCommons.png" alt="Logo de la licence CC-BY-NC-SA" height="30px"/>
                            </a>
                        </p>
                    </footer>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>